-i https://pypi.python.org/simple
aiohttp==3.4.2
async-timeout==3.0.0; python_version >= '3.5.3'
attrs==18.2.0
chardet==3.0.4
colorama==0.3.9
cursor==1.2.0
enum34==1.1.6
halo==0.0.17
idna-ssl==1.1.0; python_version < '3.7'
idna==2.7
log-symbols==0.0.11
multidict==4.4.0; python_version >= '3.4.1'
six==1.11.0
spinners==0.0.23
termcolor==1.1.0
yarl==1.2.6; python_version >= '3.4.1'
